body {
  font-family: helvetica, arial, sans-serif;
  background-color: rgb(248, 232, 166);
  text-align: center;
}

a {
  color: green;
  padding: 20px;
}

img {
  border-radius: 4px;
  max-width: 600px;
  margin-bottom: 20px;
}

.email-address {
  padding: 0px;
}
